@use "sass:map";

$font-family: "Noto Serif JP", serif;
$base-color: #3ea1d1;
$base-font-color: #333;
$base-font-size: 1.6rem;
$min-width: 32rem;
$max-width: 128rem;
$header-height-sp: 6rem;
$header-height-pc: 7rem;

$breakpoints: (
  sp: "screen and (max-width: 767px)",
  md: "screen and (min-width: 768px)",
  pc: "screen and (min-width: 1024px)",
);

@mixin mq($breakpoint: pc) {
  @media #{map.get($breakpoints,$breakpoint)} {
    @content;
  }
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height-sp;
  scroll-behavior: smooth;
  font-size: calc(10 / 375 * 100vw);
  /*
      基準：375px幅のときに10pxになるように設定
      → 10 / 375 * 100 = 2.6666...
      よって font-size: 2.666vw; でもOK
    */

  @include mq(md) {
    scroll-padding-top: $header-height-pc;
    font-size: 62.5%; //=10px
  }
}

body {
  font-family: $font-family;
}

.inner {
  padding-inline: 1.5rem;

  @include mq(pc) {
    max-width: $max-width;
    padding-inline: 4rem;
    margin-inline: auto;
  }
}

.button-wrap {
  margin-top: 5.5rem;
  text-align: center;

  @include mq(md) {
    margin-top: 5.4rem;
  }
}

.button {
  border: 1px solid #3ea1d1;
  background: #fff;
  padding: 1.3rem 5.7rem;
  justify-content: center;
  align-items: center;
  color: #3ea1d1;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
  letter-spacing: 0.002rem;

  &:hover,
  &:focus {
    background: $base-color;
    color: #fff;
    transition: 0.8s;
    outline: $base-color auto 1px;
    box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
  }
}

.head {
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 3rem;
  font-weight: 600;
  border-bottom: 1px solid $base-color;
  padding-bottom: 2.2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  @include mq(md) {
    font-size: 4rem;
    padding-bottom: 1.4rem;
  }
}

.text-type2 {
  color: #e7728e;
}

.hidden-sp {
  @include mq(sp) {
    display: none;
  }
}

.hidden-md {
  @include mq(md) {
    display: none;
  }
}

.inline-block {
  font-weight: inherit;
  display: inline-block;
}

// header
.header {
  height: $header-height-sp;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  background: #fff;

  @include mq(md) {
    height: $header-height-pc;
  }
}

.header__inner {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  a {
    img {
      width: 12rem;
      display: block;

      @include mq(md) {
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
}

.header__icon {
  @include mq(md) {
    display: none;
  }
}

.header__nav {
  background: $base-color;
  width: 27rem;
  height: calc(100% - $header-height-sp);
  position: fixed;
  right: 0;
  top: $header-height-sp;
  padding: 3.4rem 1.5rem;
  transform: translateX(100%);
  transition: transform 0.4s;

  &.is-checked {
    transform: translateX(0);
  }

  @include mq(md) {
    background: transparent;
    width: auto;
    height: auto;
    position: static;
    padding: 0;
    transform: translateX(0);
  }
}

.header__lists {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2.1rem;

  @include mq(md) {
    flex-direction: row;
    align-items: center;
    gap: 4.6rem;
  }
}

.header__link {
  display: inline-block;
  padding-block: 0.8rem;
  color: #fff;
  font-size: 1.8rem;

  @include mq(md) {
    color: $base-font-color;
    font-size: 1.6rem;

    &:hover,
    &:focus {
      color: $base-color;
      transition: 0.3s;
    }
  }
}

.drawer-icon {
  width: 3rem;
  height: 1.8rem;
  position: relative;

  &.is-checked {
    .drawer-icon__bar {
      &:nth-child(1),
      &:nth-child(3) {
        top: 0.9rem;
      }
      &:nth-child(1) {
        transform: rotate(45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-45deg);
      }
    }
  }
}

.drawer-icon__bar {
  position: absolute;
  width: 3rem;
  height: 0.2rem;
  left: 0;
  background: $base-color;
  transition:
    top 0.4s,
    transform 0.4s;
  &:nth-child(1) {
    top: 0;
  }
  &:nth-child(2) {
    top: 0.8rem;
  }
  &:nth-child(3) {
    top: 1.6rem;
  }
}

// fv
.fv__inner {
  @include mq(md) {
    position: relative;
  }
}

.fv__image {
  @include mq(md) {
    max-width: 99rem;
    margin-left: auto;
    display: block;
  }
  img {
    @include mq(md) {
      width: 100%;
    }
  }
}

.fv__message {
  margin-top: 3.2rem;

  @include mq(md) {
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    left: 0;
    padding: 8rem 4rem;
    height: fit-content;
    background: #fff;
  }
}

.fv__title {
  font-size: 2.6rem;
  font-weight: 600;
  @include mq(md) {
    line-height: 1.7;
  }

  br {
    display: none;

    @include mq(pc) {
      display: inline;
    }
  }
}

.fv__text {
  margin-top: 2rem;
  font-size: $base-font-size;
  line-height: 1.7;

  @include mq(md) {
    margin-top: 1.7rem;
  }
}

// concept
.concept {
  align-items: center;
  padding-top: 8.7rem;
  padding-bottom: 8.8rem;

  @include mq(md) {
    padding-top: 15.2rem;
  }
}

.concept__inner {
  @include mq(pc) {
    padding-left: 4rem;
    padding-right: 4rem;
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

.concept__card {
  @include mq(md) {
    display: flex;
    gap: 8rem;
  }
}

.concept__image {
  margin-top: 4.6rem;
  @include mq(pc) {
    margin-top: 6.6rem;
  }
  img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @include mq(pc) {
      max-width: 60rem;
    }
  }
}

.concept__contents {
  margin-top: 3.4rem;

  @include mq(md) {
    margin-top: 6.4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    justify-content: center;
    width: 52rem;
  }
}

.concept__title {
  color: #333;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;
}

.concept__text {
  margin-top: 2.1rem;
  color: #333;
  font-family: "Noto Serif JP";
  font-weight: 300;
  line-height: 1.7;
  font-size: $base-font-size;

  @include mq(md) {
    margin-top: 0;
  }
}

// feature
.feature {
  padding-bottom: 9.6rem;

  @include mq(pc) {
    padding-top: 6.2rem;
    padding-bottom: 16rem;
  }
}

.feature__inner {
  max-width: $max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(pc) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.feature__head::after {
  @include mq(md) {
  }
}

.feature__cards {
  margin-top: 4.9rem;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;

  @include mq(pc) {
    margin-top: 6.6rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8.9rem;
  }
}

.feature__card {
  max-width: 69rem;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  box-shadow: 0.3rem 0.3rem 1.5rem 0 rgba(96, 96, 96, 0.16);

  @include mq(pc) {
    max-width: 34rem;
  }
}

.feature__text {
  margin-top: 2.6rem;
  margin-bottom: 2.6rem;
  color: #333;
  text-align: center;
  font-family: $font-family;
  font-weight: 600;
  line-height: 1.7;
  font-size: $base-font-size;
}

// question
.question {
  padding-bottom: 8.8rem;

  @include mq(pc) {
    padding-bottom: 14.9rem;
  }
}

.question__inner {
  max-width: $max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.question__content {
  position: relative;
  width: 100%;
}

.question__image {
  background: rgba(0, 0, 0, 0.12);
  picture img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.question__title {
  position: absolute;
  top: 37%;
  left: 49%;
  transform: translateX(-50%);
  width: 34rem;
  color: #fff;
  font-family: $font-family;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;

  @include mq(md) {
    top: 20%;
    left: 30%;
  }

  @include mq(pc) {
    width: 60rem;
    font-size: 2.2rem;
    top: 24%;
    left: 32.5%;
  }
}

.question__text {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translateX(-50%);
  width: 34.5rem;
  color: #fff;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.7;
  @include mq(md) {
    top: 48%;
    left: 30%;
  }
  @include mq(pc) {
    width: 60rem;
    font-size: 1.6rem;
    top: 47%;
    left: 32.5%;
  }
}

// products
.products {
  padding-bottom: 10rem;

  @include mq(pc) {
    padding-bottom: 16.3rem;
  }
}

.products__inner {
  padding-left: 5.3rem;
  padding-right: 5.6rem;
  max-width: $max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    padding-left: 17rem;
    padding-right: 17rem;
  }
}

.products__head {
  @include mq(md) {
    padding-bottom: 1.7rem;
  }
}

.products__cards {
  margin-top: 4.7rem;
  display: flex;
  flex-direction: column;
  gap: 4.1rem;

  @include mq(pc) {
    margin-top: 6.4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
  }
}

.products__card {
  max-width: 26rem;
  margin-left: auto;
  margin-right: auto;
  @include mq(pc) {
    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-0.8rem) scale(1.03);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
  }
}

.products__contents {
  margin-top: 2.3rem;
  @include mq(md) {
    margin-top: 2rem;
  }
}

.products__text {
  align-self: stretch;
  color: #333;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
}

.products__price {
  margin-top: 1rem;
  color: #989898;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
}

.products__button-wrap {
  margin-top: 5.3rem;
}

// news
.news {
  padding-bottom: 10.9rem;

  @include mq(pc) {
    padding-bottom: 17.2rem;
  }
}

.news__inner {
  @include mq(pc) {
    padding-left: 12rem;
    padding-right: 12rem;
    max-width: $max-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.news__head {
  @include mq(pc) {
    padding-bottom: 1.6rem;
  }
}

.news__cards {
  margin-top: 4.7rem;
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-left: auto;
  margin-right: auto;

  @include mq(pc) {
    margin-top: 6.4rem;
    max-width: 103.6rem;
    gap: 2.3rem;
  }
}

.news__card {
  border-bottom: 1px solid #e0e0e0;

  @include mq(pc) {
    display: flex;
    gap: 3.8rem;
    padding-bottom: 2.4rem;

    transition:
      transform 0.3s ease,
      box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-0.8rem) scale(1.03);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    }
  }
}

.news__image {
  img {
    width: 100%;
    @include mq(pc) {
      width: auto;
      max-width: 26rem;
      flex-shrink: 0;
    }
  }
}

.news__contents {
  margin-top: 1.6rem;

  @include mq(pc) {
    margin-top: 0;
  }
}

.news__date {
  color: #333;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;
}

.news__title {
  margin-top: 0.9rem;
  color: #333;
  font-family: $font-family;
  font-weight: 600;
  line-height: 1.7;

  @include mq(pc) {
    margin-top: 1.6rem;
    font-size: 1.8rem;
  }
}

.news__text {
  margin-top: 1.4rem;
  margin-bottom: 2.8rem;
  color: #888;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;

  @include mq(pc) {
    margin-top: 1rem;
    margin-bottom: 0;
    max-width: 73.6rem;
    width: 100%;
  }
}

.news__button-wrap {
  margin-top: 5.2rem;
  @include mq(md) {
    margin-top: 5.5rem;
  }
}

// cta
.cta {
  padding-bottom: 9.6rem;

  @include mq(md) {
    padding-bottom: 16rem;
  }
}

.cta__inner {
  max-width: $max-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  @include mq(pc) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.cta__contents {
  @include mq(md) {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
  }
  @include mq(pc) {
    display: flex;
    flex-direction: row-reverse;
    gap: 8rem;
    max-width: none;
  }
}

.cta__image {
  text-align: center;
  img {
    @include mq(pc) {
      max-width: 60rem;
    }
  }
}

.cta__wrap {
  @include mq(pc) {
    width: 52rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

.cta__title {
  margin-top: 3.2rem;
  color: #333;
  font-family: $font-family;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.7;

  @include mq(pc) {
    margin-top: 0;
    font-size: 2.8rem;
  }
}

.cta__text {
  margin-top: 2.2rem;
  color: #333;
  font-family: $font-family;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.7;

  @include mq(pc) {
    font-size: 1.6rem;
    margin-top: 3.6rem;
  }
}

// contact
.contact {
  padding-top: 4.8rem;
  padding-bottom: 5.6rem;
  background: url(../image/contact__bg-pc.png) no-repeat center center / cover;

  @include mq(md) {
    padding-top: 7rem;
    padding-bottom: 7.6rem;
  }
}

.contact__inner {
  max-width: 45rem;
  margin: 0 auto;
  @include mq(md) {
    max-width: calc(51rem + 4rem * 2);
    padding-inline: 4rem;
    margin: 0 auto;
  }
}

.contact__head {
  color: $base-color;
}

.contact__form {
  padding-top: 4.8rem;

  @include mq(md) {
    margin-top: 2.2rem;
    max-width: calc(51rem + 4rem * 2);
    padding-inline: 4rem;
    margin: 0 auto;
  }
}

.contact__text {
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  .is-required {
    color: #e7728e;
  }
}

.contact__items {
  margin-top: 3.1rem;
  display: flex;
  flex-direction: column;
  gap: 3.4rem;

  @include mq(md) {
    margin-top: 1.9rem;
    gap: 3.2rem;
  }
}

.contact-control {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  @include mq(md) {
    flex-direction: row;
    gap: 1rem;
  }
}

.contact-control__head {
  @include mq(md) {
    width: 18rem;
    flex-shrink: 0;
  }
}

.form__label {
  display: inline-flex;
  gap: 0.4rem;
  background: rgba($base-color, 0.7);
  color: #fff;
  padding: 0.5rem 1.6rem;
  font-size: 1.4rem;
  font-weight: 600;
  align-items: center;

  @include mq(md) {
    width: 100%;
    justify-content: center;
    font-size: 1.8rem;
    padding-top: 0.5rem;
    padding-block: 0.7rem;
    padding-inline: 0.4rem;
    clip-path: polygon(0% 0%, 97% 0, 100% 50%, 97% 100%, 0% 100%);
  }
}

.form__label__required {
  font-size: 1rem;
  font-weight: 600;
  color: #e7728e;

  @include mq(md) {
    font-size: 1.2rem;
  }
}

.contact-control__input {
  @include mq(md) {
    flex-grow: 1;
  }
}

.form__text {
  width: 100%;
  height: 4rem;
  border: 0;
  font-size: 1.6rem;
  background: #fff;
  box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba(96, 96, 96, 0.16);

  &:hover,
  &:focus {
    outline: $base-color auto 1px;
    box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
  }
}

.contact-control__radios {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.form-radio {
  position: relative;
}

.form-radio__input {
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;

  &:checked + .form-radio__text {
    background: $base-color;
    color: #fff;
    transition: 0.3s;
  }

  &:hover,
  &:focus + .form-radio__text {
    outline: $base-color auto 1px;
    box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
  }
}

.form-radio__text {
  font-size: 1.6rem;
  letter-spacing: 0.026rem;
  color: $base-color;
  border: 1px solid #fff;
  background: #fff;
  width: 8rem;
  height: 4rem;
  display: grid;
  place-items: center;

  &:hover,
  &:focus {
    outline: $base-color auto 1px;
    box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
  }
}

.form-textarea {
  width: 100%;
  height: 12.2rem;
  font-size: 1.6rem;
  border: 0;
  background: #fff;
  box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba(96, 96, 96, 0.16);
  resize: vertical;

  &:hover,
  &:focus {
    outline: $base-color auto 1px;
    box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
  }
}

.contact__footer {
  margin-top: 3.1rem;

  @include mq(md) {
    margin-top: 3.3rem;
  }
}

.contact__privacy {
  text-align: center;
}

.form-checkbox {
  position: relative;
}

.form-checkbox__input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);

  &:checked + .form-checkbox__text {
    &::after {
      opacity: 1;
    }
  }

  &:hover,
  &:focus + .form-checkbox__text {
    &::before {
      outline: $base-color auto 1px;
      box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
    }
  }
}

.form-checkbox__text {
  font-size: 1.6rem;
  padding-left: 3rem;
  a {
    text-decoration-line: underline;
    color: $base-color;

    @include mq(md) {
      &:focus {
        outline: $base-color auto 1px;
        box-shadow: 0.5rem 0.6rem 1.6rem 0rem rgba($base-color, 0.32);
      }

      &:hover {
        opacity: 0.6;
      }
    }
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    inset-block: 0;
    margin-block: auto;
  }

  &::before {
    width: 2.2rem;
    height: 2.2rem;
    background: #fff;
    border: 1px solid $base-color;
  }

  &::after {
    opacity: 0;
    width: 1.9414rem;
    height: 1.4621rem;
    left: 0.129rem;
    background: url(../image/check-icon.png) no-repeat center center / contain;
  }
}

.contact__submit {
  margin-top: 2.4rem;
  text-align: center;

  @include mq(md) {
    margin-top: 4.7rem;
  }

  .contact__button {
    padding: 1.2rem 6.5rem;
  }
}

// footer
.footer {
  padding-top: 4rem;
  padding-bottom: 1rem;

  @include mq(pc) {
    padding-bottom: 1.2rem;
  }
}

.footer__inner {
  padding-left: 6.3rem;
  padding-right: 6.3rem;
}

.footer__contents {
  text-align: center;
}

.footer__logo {
  width: 12rem;
  height: 2.2rem;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  img {
    @include mq(md) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.footer__wrap {
  @include mq(pc) {
    margin-top: 2.2rem;
    display: flex;
    gap: 3.2rem;
    justify-content: center;
  }
}

.footer__privacy-text {
  margin-top: 2.2rem;
  display: block;
  color: #333;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;

  @include mq(pc) {
    margin-top: 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer__notion {
  margin-top: 1.2rem;
  display: block;
  color: #333;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;

  @include mq(pc) {
    margin-top: 0;

    &:hover {
      opacity: 0.6;
    }
  }
}

.footer__icons {
  margin-top: 1.8rem;
  margin-bottom: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;

  @include mq(pc) {
    margin-top: 1.6rem;
    margin-bottom: 2.4rem;
  }
}

.footer__X {
  img {
    width: 2.1rem;
    height: 2.1rem;

    @include mq(md) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.footer__instagram {
  img {
    width: 1.8rem;
    height: 2.22rem;

    @include mq(md) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.footer__line {
  img {
    width: 1.8rem;
    height: 1.92rem;

    @include mq(md) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}

.copyright-wrap {
  text-align: center;
}

.footer__copyright {
  color: #888;
  font-family: $font-family;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.7;
}
